h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
