:root {
  --branding-color: #6c63ff;
  --secondry-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 69px;
  line-height: 80px;
}

h2 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 34px;
}
h4 {
  font-family: var(--heading-font-family);
  font-size: 42px;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
}
.hero {
  background: var(--secondry-color);
  text-align: center;
  padding: 100px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.yogurt-desciription {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .yogurt-desciription {
    padding: 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 64px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section-content {
    padding: 90px 60px;
  }
  .about-section h1 {
    font-size: 64px;
  }

  h4 {
    font-size: 24px;
  }
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
}
.about-section-content {
  margin: 30px;
}

.work-section {
  text-align: center;
  padding: 90px 60px;
}
.work-section h1 {
  font-size: 64px;
}
.work-section h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.work-section p {
  font-size: 14px;
}
.contact-section {
  text-align: center;
  padding: 90px 60px;
}
.contact-section h1 {
  font-size: 64px;
}
.contact-section h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.contact-section p {
  font-size: 14px;
}
.logo {
  max-height: 35px;
}

nav {
  padding: 15px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  font-family: var(--default-font-family);
  text-decoration: none;
  font-size: 16px;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondry-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin-bottom: 0;
}

footer .email-link {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-icons a {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  background-color: var(--secondry-color);
  padding: 10px 14px;
  border-radius: 50%;
  transform: all 100ms ease-in-out;
}
footer .social-icons a:hover {
  color: white;
  background-color: var(--branding-color);
}
footer .sorce {
  font-size: 12px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.my-picture {
  margin: 30px;
  max-width: 500px;
}
